.App {
  text-align: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('//net.huanmusic.com/eos/lanch/bg_xiazai.png');
  /* background-image: url('./img/bg_xiazai.png'); */
}

.eos-logo {
  width: 220px;
  height: 220px;
  margin-top: 138px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('//net.huanmusic.com/eos/lanch/logo.png');
}

.eos-title {
  font-size: 58px;
  color: #ffffff;
  margin-top: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.eos-ios {
  margin-top: 80px;
  background-image: url('//net.huanmusic.com/eos/lanch/btn_ios.png');
}

.eos-android {
  margin-top: 30px;
  background-image: url('//net.huanmusic.com/eos/lanch/btn_android.png');
}

.eos-button {
  width: 440px;
  height: 90px;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url('//net.huanmusic.com/eos/lanch/btn_android.png'); */
  /* background-image: url('./img/btn_ios.png') */
}

.eos-img {
  width: 334px;
  height: 600px;
  margin-top: 70px;
  margin-bottom: 138px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('//net.huanmusic.com/eos/lanch/img_jifen.png');
}

.product-title {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          font-size: 18px;
          font-weight: bold;
}

.update-button {
  margin-top: 20px;
  width: 440px;
  height: 80px;
  border-radius: 40px;
  line-height: 80px;
  font-size: 18px;
  text-align: center;
}

.update-ios {
  background: #4d9ef9;
  color: #ffffff;
}

.update-android {
  background: #ffffff;
  color: #4d9ef9;
}